<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eateries</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="text-center mt-48 font-semibold text-[1.5rem]">
        {% for i in t_dict["eateries"] %}
        <div >
            <p>{{i}} is {{t_dict["eateries"][i]}} km away from you.</p>
        </div>
        {% endfor %}
        <div class="mt-8">
            <div class="p-4 mb-4">Would you like to visit the nearest theatre?</div>
            <a href="https://www.google.com/maps?rlz=1C1RXQR_enIN1030IN1030&output=search&q=mcdonald%27s&entry=mc&sa=X&ved=2ahUKEwiT_Pnr9oGAAxVWR2wGHSQjCMkQ0pQJegQIDRAB" class="text-decoration:none font-bold border-2 border-slate-700 rounded-md py-2 px-4 bg-slate-200">YES</a> 
        </div>
    </div>
</body>
</html>