<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitals</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-green-300">
    <div class="text-center mt-48 font-semibold text-[1.5rem]">
        {% for i in t_dict["hospitals"] %}
        <div class="p-4">
            <p>{{i}} is {{t_dict["hospitals"][i]}} km away from you.</p>
        </div>
        {% endfor %}
        <div class="mt-8">
            <div class="p-4 mb-4">Would you like to visit the nearest hospital?</div>
            <a href="https://www.google.com/maps/place/Excell+Hospital/@17.3947893,78.487528,17z/data=!3m1!4b1!4m6!3m5!1s0x3bcb99c5a1e3bcad:0xe10a4f851745f5b5!8m2!3d17.3947893!4d78.4897167!16s%2Fg%2F11fz0syywn?entry=ttu" class="text-decoration:none font-bold border-2 border-slate-700 rounded-md py-2 px-4 bg-slate-200" >YES</a> 
        </div>
    </div>
</body>
</html>