<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatres</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-yellow-200">
    <div class="text-center mt-48 font-semibold text-[1.5rem]">
        {% for i in t_dict["theatres"] %}
        <div class="p-4">
            <p>{{i}} is {{t_dict["theatres"][i]}} km away from you.</p>
        </div>
        {% endfor %}
        <div class="mt-8">
            <div class="p-4 mb-4">Would you like to visit the nearest theatre?</div>
            <a href="https://www.google.com/maps/place/Shanti+Theatre/@17.396219,78.4876528,17z/data=!3m1!4b1!4m6!3m5!1s0x3bcb99c5ac89b591:0x46306658604df70c!8m2!3d17.396219!4d78.4898415!16s%2Fg%2F1tdxnxdq?entry=ttu" class="text-decoration:none font-bold border-2 border-slate-700 rounded-md py-2 px-4 bg-slate-200" >YES</a> 
            
        </div>
    </div>
</body>
</html>